<h1>Admin::Dashboard#show</h1>
<div> <%= link_to "Product Count:", "admin/products#index" %> <%= @product_count %> </div>
<div> <%= link_to "Category Count:", "admin/products#index" %> <%= @category_count %> </div>