<header class="page-header">
  <h1>About Jungle</h1>
</header>

  <div>Jungle is a modern-day solution for plant commerce, founded by Jungle, Inc. We offer the best trees and plants at the best prices. Each item is organically grown and comes with sophisticated hydrosolar energy systems.</div>